.content-block + .content-block,
.content-block + hr,
hr + .content-block {
  margin-top: 1rem;
  margin-bottom: 0;

  @include media-breakpoint-up(md) {
    margin-top: $grid-gutter-width;
  }
}

.mt-cb {
  margin-top: 1rem;

  @include media-breakpoint-up(md) {
    margin-top: $grid-gutter-width;
  }
}

.content-main > .container {
  padding-bottom: 1rem;
  padding-top: 1rem;

  @include media-breakpoint-up(md) {
    padding-top: $grid-gutter-width;
    padding-bottom: $grid-gutter-width;
  }
}

// -- rest container inside container
.container:not(.fl-row) .container:not(.fl-row),
.container:not(.fl-row) .container-fluid:not(.fl-row),
.container-fluid:not(.fl-row) .container-fluid:not(.fl-row),
.container-fluid:not(.fl-row) .container:not(.fl-row) {
  max-width: unset;
  width: unset;
  padding:0;
  margin:0;
}