i.circle {
  width: .6125rem; // 10px
  height: .6125rem; // 10px
  display: block;

  @include border-radius($font-size-sm);

  background-color: $gray-300;

  &.green {
    background-color: $booking-green;
  }

  &.red {
    background-color: $booking-red;
  }

  &.orange {
    background-color: $booking-orange;
  }
}