 .breadcrumb-wrapper {
   border-bottom: 1px solid $breadcrumb-bg;

    .breadcrumb {
      margin-bottom: 0;
      background-color: transparent;
      padding-left:0;
      padding-right:0;
    }
 }
