// -- detail box
.content-block.content-block-detail-booking {
  border-top: 1px solid $gray-200;

  h2 {
    margin: 0 0 ( $grid-gutter-width / 2 ) 0;

    @include media-breakpoint-up(md) {
      margin: 0 0 $grid-gutter-width 0;
    }
  }

  .content-block-detail-booking-inner {
    margin: 0 0 $grid-gutter-width 0;

    .booking-row {
      > div {
        padding: .5rem 1rem;
        line-height: 1.5;
        @include media-breakpoint-up(md) {
          padding: .75rem;
        }
      }

      border-top: 1px solid $gray-200;
      border-bottom: 1px solid $gray-200;

      + .booking-row {
        border-top:0;
      }

      &.booking-row-head {
        font-size: 1.25rem;
        color: $gray-700;
      }

      &.booking-row-programm  {
        font-size: 1rem;
        font-weight: bold;
        background: $gray-500;
        color: #fff;
      }

      &.booking-row-date {
        font-size: $font-size-sm;
        @include border-radius($card-border-radius);

        &:nth-child(even) {
          background: $gray-200;
        }

        @include media-breakpoint-down(sm) {
          padding: .75rem 0;
        }

        @include media-breakpoint-up(md) {
          align-items: center;
        }

      }
    }
  }
}