 .teaser.image-teaser {
   border: 0;

   .teaser-image {
     @include border-radius($card-border-radius);

     height: 218px;
     background-color: lightgray;

     &:after {
       content: '';
       display: block;
       clear: both;

       position:absolute;
       left:0;
       right: 0;
       bottom:0;
       top:0;

       @include border-radius($card-border-radius);
       /*@include gradient-y(rgba(#000, 0), rgba(#000, .5));*/
     }

     img {
       @include border-radius($card-border-radius);
     }
   }

   .teaser-body {
     position:absolute;
     bottom:0;
     left:0;
     right:0;

     z-index: 10;

     color: #fff;
     text-shadow: 0 0 10px rgba(#000, .25);
   }
 }
