// -- wishlist
.toggler.wishlist-toggler {
    position: relative;
    padding-right: .75rem;

    transition: all .3s;

    &:hover {
      color: $primary;
    }

    i {
      font-size: 1.5rem; // 24px;
    }

    .count {
      position: absolute;
      top:0;
      right:0;
      font-size: .5rem; // 8px;
      color: #fff;
      width: 1.125rem; // 18px
      height: 1.125rem; // 18px
      border-radius: 9px;

      display: block;
      line-height: 1.125rem; // 18px
      text-align: center;

      background-color: $primary;
    }
}

.dropdown-menu-wishlist {
    padding: ( $grid-gutter-width / 3 ) * 2;
    min-width: 15rem; // 240px, min width, to make it look nicer

    .wishlist-items {
      margin-bottom: $grid-gutter-width / 3;
      margin-top: ( $grid-gutter-width / 3 ) * -1;

      .wishlist-item {
        padding-bottom: $grid-gutter-width / 3;
        padding-top: $grid-gutter-width / 3;
        position: relative;


        div.wishlist-delete {
          @include resetbutton();
          cursor: pointer;
          transition: all .3s;
          color: $body-color-light;

          position: absolute;
          right:0;
          top: 50%;
          transform: translateY(-50%);

          width: 1.5rem; // 24px;
          height: 1.5rem; // 24px;

          text-align: right;
          line-height: 1.5rem; // 24px;

          &:hover {
            color: $body-color;
          }

          svg {
            pointer-events: none;
          }

        }

        span.name > a {
          font-weight: 700;
          color: $body-color;
          transition: all .3s;

          &:active, &:focus, &:hover {
            text-decoration: none;
          }

          &:active, &:focus {
            color: $body-color;
          }

          &:hover {
            color: $primary;
          }
        }

        + .wishlist-item {
          border-top: 1px solid $gray-200;
        }

      }
    }
}