.idea
travelshop/vendor
travelshop/composer.lock
travelshop/config.php
travelshop/template-parts/pm-views/*_Detail1.php
travelshop/template-parts/pm-views/*_Teaser1.php
travelshop/Custom/MediaType/*.php
travelshop/docs/objecttypes
