.idea
vendor
composer.lock
pm-config.php
template-parts/pm-views/*_Detail1.php
template-parts/pm-views/*_Teaser1.php
template-parts/pm-views/*_Teaser2.php
template-parts/pm-views/*_Teaser3.php
Custom/MediaType/*.php
docs/objecttypes/*.html
assets/scss/*.map
assets/scss/.sass-cache/
assets/scss/vendors/bootstrap/.sass-cache/
