.idea
travelshop/vendor
travelshop/composer.lock
travelshop/pm-config.php
travelshop/template-parts/pm-views/*_Detail1.php
travelshop/template-parts/pm-views/*_Teaser1.php
travelshop/template-parts/pm-views/*_Teaser2.php
travelshop/template-parts/pm-views/*_Teaser3.php
travelshop/Custom/MediaType/*.php
travelshop/docs/objecttypes/*.html
travelshop/assets/scss/*.map
/travelshop/assets/scss/.sass-cache/
/travelshop/mockup/
/travelshop/assets/scss/vendors/bootstrap/.sass-cache/
