//@import "themes/theme-ananas/abstracts/variables";

// -- vendors
// -- Load vendors first, cuz we need those vendors varialbes/settings/mixins for abstracts
@import "vendors/bootstrap/bootstrap";
@import "vendors/ion-rangeslider/range-slider";
@import "vendors/tiny-slider/tiny-slider";
@import "vendors/daterangepicker/daterangepicker";
@import "vendors/lightbox2/lightbox";
@import "vendors/cookieconsent/cookieconsent";

// -- abstracts
@import "abstracts/variables";

// -- utils
@import "utils/variables";
//@import "themes/theme-ananas/utils/variables";
@import "utils/brand-colors"; // brand colors should be used for social link elements to take their colors.
@import "utils/functions";
@import "utils/mixins";

// -- base
@import "base/body";
@import "base/typography";
@import "base/beaverbuilder";
@import "base/media";
@import "base/prices";
@import "base/aspect-ratios";
@import "base/status-circles";
@import "base/content";
@import "base/spacing";
@import "base/stars";
@import "base/spinner";
//@import "base/_backup/typography";
//@import "base/_backup/container";
//@import "base/_backup/beaverbuilder";

// -- icons
//@import "icons/_tabler-icons";

// -- components
@import "components/slider-controls";
@import "components/autocomplete-elements";
@import "components/icon-link";
@import "components/form-essentials";
@import "components/row-essentials";
@import "components/string-search";
@import "components/checklist";
@import "components/spinner";
@import "components/backdrop";
@import "components/dropdown";
@import "components/buttons";
@import "components/wishlist-add";
@import "components/discount";
@import "components/date-dropdown";
@import "components/category-dropdown";
@import "components/category-booking-dropdown";
@import "components/person-booking-dropdown";
@import "components/popup-apple-like";
@import "components/popup-offcanvas";
@import "components/popup-modal";
@import "components/breadcrumb";
@import "components/field-daterange-picker";
@import "components/field-select-form-control";
@import "components/travel-teaser";
@import "components/category-product-teaser";
@import "components/month-teaser";
@import "components/list-filter";
@import "components/search-bar";
@import "components/search-header";
@import "components/jumbotron";
@import "components/team-teaser";
@import "components/wp-teaser";
@import "components/icon-teaser";
@import "components/image-teaser";
@import "components/wishlist";
@import "components/page-share";
@import "components/personen-select";
@import "components/content-accordion";
@import "components/content-readmore";
@import "components/content-textblock";
@import "components/image-gallery";
@import "components/date-range-picker";
@import "components/fulltext-search";
@import "components/pagination";
@import "components/blog-sidebar";
@import "components/blog-entry";
@import "components/blog-author";
@import "components/social-links";
@import "components/item-slider";
@import "components/contactform7";
@import "components/content-slider";
@import "components/category-header";

// -- layout
//@import "layout/_backup/footer";
//@import "layout/_backup/header";
//@import "layout/_backup/navigation";
//@import "layout/_backup/content";
@import "layout/header";
@import "layout/navigation";
@import "layout/navigation-offcanvas";
@import "layout/footer";

// -- pages
//@import "pages/_backup/home";
//@import "pages/_backup/list";
//@import "pages/_backup/detail";
//@import "pages/_backup/detail2";
@import "pages/product-results";
@import "pages/product-detail";
@import "pages/product-calendar";
@import "pages/blog-list";
@import "pages/blog-detail";

// -- themes
// this just an example for you're theme starting point
//@import "themes/theme-ananas/ananas";


// -- manipulation admin bar
html #wpadminbar {
  top: auto !important;
  bottom: 0 !important;

  position: fixed !important;
}

html[lang="de"], html, html#html {
  margin-top: 0 !important;
}

//// -- fix for wishlist issues
//.add-to-wishlist svg {
//	pointer-events: none !important;
//}