.nice-accordion {
	top: 5px;
	position: relative;
	margin-bottom: 30px;

	.accordion-main {
		a:hover,
		a:focus {
			text-decoration: none;
			outline: none;
		}

		@include media-breakpoint-up(md) {
			&:before {
				content: "";
				width: 1px;
				//height: 70%;
				background: #607d8b;
				position: absolute;
				top: 24px;
				left: 9px;
				bottom: 20px;
			}
		}

		.panel {
			border: none;
			border-radius: $border-radius;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
			margin: 0 0 12px 0px;
			position: relative;
		}

		@include media-breakpoint-up(md) {
			.panel {
				margin: 0 0 12px 40px;
			}
		}

		.panel:before {
			content: "";
			width: 2px;
			height: 100%;
			background: linear-gradient(to bottom, $primary 0%, #607d8b 100%);
			position: absolute;
			top: 0;
			left: -2px;
		}

		.panel-heading {
			padding: 0;
			background: #fff;
			position: relative;

			h2 {
				text-transform: uppercase;
				font-size: 1.1rem;
				margin: 0px;
			}

			svg {
				margin-bottom: 5px;
				margin-right: 3px;
			}
		}

		@include media-breakpoint-up(md) {
			.panel-heading:before {
				content: "";
				width: 15px;
				height: 15px;
				border-radius: 50px;
				background: #fff;
				border: 1.5px solid #607d8b;
				position: absolute;
				top: 50%;
				left: -38px;
				transform: translateY(-50%);
			}
		}

		.panel-title a {
			display: block;
			padding: 15px 55px 15px 10px;
			color: black;
			border: none;
			margin: 0;
			position: relative;
		}

		// chev up
		.panel-title a:before,
		.panel-title a.collapsed:before {
			background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22icon%20icon-tabler%20icon-tabler-chevron-up%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2024%2024%22%20stroke-width%3D%221.5%22%20stroke%3D%22%23607D8B%22%20fill%3D%22none%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%0A%20%20%3Cpath%20stroke%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%0A%20%20%3Cpolyline%20points%3D%226%2015%2012%209%2018%2015%22%20%2F%3E%0A%3C%2Fsvg%3E");
			content: "";
			width: 25px;
			height: 25px;
			line-height: 25px;
			border-radius: 50%;
			border: 1.5px solid #607d8b;
			position: absolute;
			top: 50%;
			right: 25px;
			transform: translateY(-50%);
			transition: all 0.5s ease 0s;
			background-position: 2px 1px;
		}

		// chev down
		.panel-title a.collapsed:before {
			background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22icon%20icon-tabler%20icon-tabler-chevron-down%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2024%2024%22%20stroke-width%3D%221.5%22%20stroke%3D%22%23607D8B%22%20fill%3D%22none%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%0A%20%20%20%20%3Cpath%20stroke%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%0A%20%20%20%20%3Cpolyline%20points%3D%226%209%2012%2015%2018%209%22%20%2F%3E%0A%3C%2Fsvg%3E");
			background-position: 2px 2px;
		}

		.panel-body {
			padding: 0 30px 15px;
			border: none;
			color: black;
			line-height: 28px;
		}
	}
}
