/**
 * change breadcrumb in some aspects
 */

%breadcrumb-no-spacing {
  // -- small padding
  padding: .5rem 0;

  @include media-breakpoint-up(md) {
    padding: 1rem 0;
  }

  .breadcrumb-wrapper .breadcrumb,
  .breadcrumb {
    padding-top:0;
    padding-bottom:0;
    margin-bottom:0;
  }
}

.breadcrumb-wrapper {
  .breadcrumb {
    gap: $breadcrumb-item-padding;

    li {
      font-size: $breadcrumb-font-size;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      gap: $breadcrumb-item-padding;

      &.breadcrumb-item + .breadcrumb-item {
        padding-left: 0;
      }

      // -- remove before element from default bootstrap breadcrumb
      &:before {
        display: none !important;
      }

      // -- mobile variant
      // this is the "back"-link wich shows up in mobile views
      &.bc-separator {
        display: none;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        gap: $breadcrumb-item-padding;

        > svg {
          color: $breadcrumb-divider-color;
          width: $breadcrumb-font-size;
          height: $breadcrumb-font-size;
        }
      }

      a {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        color: $breadcrumb-color;
        text-decoration: none;

        &:hover, &:focus, &:active {
          color: $breadcrumb-color;
          text-decoration: underline;
        }

        span.breadcrumb-name {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;

          gap: $breadcrumb-item-padding;
        }

        span.breadcrumb-sep {
          line-height: 0;
          color: $breadcrumb-divider-color;

          > svg {
            width: .6125rem;
            height: .6125rem;
          }
        }
      }

      &:last-child {
        color: $breadcrumb-active-color;
      }
    }
  }
}

main > .breadcrumb-wrapper,
main > .container > .row .breadcrumb-wrapper {
  @extend %breadcrumb-no-spacing;
}

.container .breadcrumb-wrapper .container {
  width: unset;
  max-width: unset;
  padding-left: unset;
  padding-right: unset;
}