/* TODO ?? */
.content-block.content-block-detail-header {
  h1, .h1 {
    margin-bottom: 1rem;
    font-size: 1.75rem;

    @include media-breakpoint-up(md) {
      font-size: 2.5rem;
    }
  }
}



.wpcf7 {
  label {
    margin:0;
    display: block;
    width: 100%;
  }

  @include media-breakpoint-down(sm) {
    font-size: $font-size-sm;
  }

  input[aria-invalid='true'],
  select[aria-invalid='true'],
  textarea[aria-invalid='true'] {
    border: 1px solid $danger;
  }

  .form-group {
    label {
      > span {
        margin: .25rem 0 0 0;
        display: block;
        width: 100%;

        input[type='text'],
        input[type='mail'],
        select,
        textarea {
          width: 100%;
          display: block;
        }
      }
    }
  }

  // -- make row gaps smaller
  .row {
    margin-left: -.5rem;
    margin-right: -.5rem;

    > div {
      padding-left: .5rem;
      padding-right: .5rem;
    }
  }

  // wpcf7-response-output

  // -- output form
  .wpcf7-response-output {
    background-color: $danger;
    margin: 1rem 0 !important;
    border: 0 !important;
    color: #fff;
    padding: 1rem 2rem !important;
    border-radius: $border-radius;
  }

  form.sent .wpcf7-response-output {
    background-color: $success;
  }

  // -- acceptance
  .wpcf7-acceptance {
    .wpcf7-list-item {
      margin-left: 0;
      padding-left: 1.25rem;
      position: relative;
      margin-bottom: 1rem;

      input {
        position: absolute;
        top:.325rem;
        left:0;
      }
    }
  }

  // -- radio
  .wpcf7-radio {
    margin-bottom: -.5rem;
    .wpcf7-list-item {
      margin-left: 0 !important;
      margin-right: 1rem !important;

      label {
        padding-left: 1.25rem;
        margin-bottom: .5rem;
        position: relative;

        input {
          position: absolute;
          left:0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  .imgbtn-error--msg {
    color: #dc3232;
    margin: 0 0 1rem 0;
  }

  // -- imgbtns
  .imgbtns{

    > span {
      display: block;
      clear: both;
      width: 100%;

      @include clearfix();
    }

    label {
      cursor: pointer;
    }

    .imgbtn-wrapper {
      margin-bottom: 0;
      margin-left: -.5rem;
      margin-right: -.5rem;

      display: flex;
      flex-wrap: wrap;

      .imgbtn-item {
        margin: 0 0  1rem 0;
        flex: 0 0 50%;
        max-width: 50%;

        padding-left: .5rem;
        padding-right: .5rem;

        width: 100%;

        @include media-breakpoint-up(md) {
          flex: 0 0 ( 100% / 3);
          max-width: ( 100% / 3 );
        }

        @include media-breakpoint-up(lg) {
          flex: 0 0 25%;
          max-width: 25%;
        }

        @include media-breakpoint-up(xl) {
          flex: 0 0 20%;
          max-width: 20%;
        }

        label {
          padding: .5rem 1rem;
          box-shadow: $box-shadow-sm;
          transition: box-shadow .3s;

          &:hover, &:focus, &:active {
            box-shadow: $box-shadow;
          }

          .wpcf7-list-item-label:before,
          .wpcf7-list-item-label:after {
            content: '';
          }

          .wpcf7-list-item-label {
            padding-left: 1.5rem;
            position: relative;
            display: block;

            &:before {
              width: 1rem;
              height: 1rem;
              border: 1px solid rgba($body-color, .25);
              background-color: transparent;
              transition: border .3s, background-color .3s;
              border-radius: .5rem;
              position: absolute;
              top: 50%;
              left: 0;
              margin-top: -.5rem;
            }

            &:after {
              height: .5125rem;
              width: .315rem;
              border-right: 2px solid #fff;
              border-bottom: 2px solid #fff;
              display: block;
              transform: rotate(30deg) translate(-.275rem, -32.5%);

              position: absolute;
              z-index: 2;
              top: 50%;
              left: .5rem;
            }
          }

          &:hover, &:focus, &:active {
            .wpcf7-list-item-label:before {
              border: 1px solid $primary;
            }
          }

          input[type='checkbox']:checked + .wpcf7-list-item-label:before,
          input[type='radio']:checked + .wpcf7-list-item-label:before{
            border: 1px solid $primary;
            background-color: $primary;
          }
        }

        /// -- checkbox
        input[type='checkbox'],
        input[type='radio']{
          display: none;
        }

        /// -- image
        .imgbtn-item--image{
          line-height: 1;
          position: relative;
          margin: -.5rem -1rem .5rem -1rem;

          img {
            width: 100%;
            height: auto;
          }

          a.imgbtn-item--link {
            display: block;
            width: 2rem;
            height: 2rem;
            position: absolute;
            top:.5rem;
            right: .5rem;

            padding:0;
            text-decoration: none;

            border-radius: 1rem;
            background-color: #fff;
            transition: background-color .3s;

            svg {
              width: 1rem;
              heighT:1rem;

              position: absolute;
              top: 50%;
              left: 50%;

              transform: translate(-50%,-50%);

              * {
                fill: $body-color;
                transition: fill .3s;
              }
            }

            &:hover, &:focus, &:active {
              background-color: $primary;
              svg * {
                fill: #fff;
              }
            }
          }
        }
      }
    }
  }

  // -- form-check
  .form-check.form-check--single {
    margin: 0 0 1rem 0;
    position: relative;
    cursor: pointer;

    .wpcf7-list-item {
      margin-left: 0;
    }

    .wpcf7-form-control-wrap {
      .wpcf7-form-control.wpcf7-checkbox {
        position: absolute;
        top:0;
        left: -1.15rem;
      }

      .wpcf7-list-item-label {
        display:none;
      }
    }
  }
}


// -- inquiry steps
.inquiry-step {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e9ecef;


  &.first-step {
    border-top: 1px solid #e9ecef;
  }

  &.last-step {
    margin-bottom: 1rem;
  }

  h3 {
    padding-left: 2.5rem;
    position: relative;
  }

  .step-number {
    width: 2rem;
    height: 2rem;
    display: block;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;

    background-color: #f2f4f7;
    border-radius: 50%;
    line-height: 2rem;

    position: absolute;
    top:50%;
    left:0;
    margin-top: -1rem;
  }
}