.content-block {
  padding: $grid-gutter-width 0 0 0;

  @include clearfix();

  @include media-breakpoint-up(lg) {
    /* padding: ( $grid-gutter-width * 2 ) 0 $grid-gutter-width 0; */
  }

  &.content-block-list-header,
  &.content-block-list-filter {
    padding-bottom:0;
  }

  &.content-block-detail-info-grid {
    padding-top:0;
  }

  &.content-block-pagination{
    padding: 15px 0px 0px;
  }
}
