.content-block-content-slider {
  margin: 0;
  padding:0;

  position: relative;

  // -- nav
  .content-slider--nav {
    position: absolute;
    left: 1.25rem;
    right: 1.25rem;
    pointer-events: none;
    transform: translateY(-50%);
    line-height: 1;
    z-index: 10;

    top: (100vw * ( 9 / 16 )) / 2;


    @include media-breakpoint-up(md) {
      top: 50%;
      left: 2rem;
      right: 2rem;
    }

    @include clearfix();

    button {
      pointer-events: auto;
      width: 2rem;
      height: 2rem;
      border-radius: 1.5rem;
      display: inline-block;
      float: left;
      border: 0;
      outline: none;
      box-shadow: none;
      background-color: rgba($body-color, .5);
      transition: background-color .3s;
      position:relative;

      @include media-breakpoint-up(md) {
        width: 3rem;
        height: 3rem;
      }

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);

        width: .75rem;
        height: .75rem;

        @include media-breakpoint-up(md) {
          width: 1rem;
          height: 1rem;
        }

        * {
          fill: #fff;
        }
      }

      + button {
        float: right;
        svg {
          transform: translate(-50%, -50%) rotate(-90deg);
        }
      }

      &:hover, &:active, &:focus {
        background-color: $primary;
      }
    }
  }

  .tns-outer > button {
    display: none !important;
  }

  h1 {

    font-size: 1rem;
    margin-bottom: 0.25rem;

    @include media-breakpoint-up(md) {
      font-size: 1.25rem;
      margin-bottom: 0.75rem;
    }

    a {
      color: $body-color;
    }
  }

  .card-travel-wrapper .card.card-travel {
    flex-direction: column !important;
  }

  .content-slider--item {
    position: relative;

    + .content-slider--item:not(.tns-item) {
      height: 0;
      overflow: hidden;
    }

    .content-slider--image,
    .content-slider--video {
      > div {
        padding-bottom: 100% * ( 9 / 16 );

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        @include media-breakpoint-up(md) {
          padding-bottom: 100% * ( 5 / 21 );
          min-height: 600px;
        }
      }
    }

    .content-slider--video {
      /* merge with above css */
      > div {
        position: relative; /* or absolute or fixed */
        overflow: hidden;
      }
      video {
        position: absolute;
        left: 50%; /* % of surrounding element */
        top: 50%;
        transform: translate(-50%, -50%); /* % of current element */
        min-width: 100vw;
      }
    }

    .content-slider--content {

      @include media-breakpoint-down(sm) {
        .container {
          padding-left: 0;
          padding-right: 0;
          width: 100%;
          max-width: 100%;
        }

        .card {
          border-radius: 0 !important;
          border-left:0 !important;
          border-top: 0 !important;
          border-right:0 !important;
          border-bottom: 1px solid rgba(0,0,0,0.125) !important;
        }
      }

      @include media-breakpoint-up(md) {
        position: absolute;
        top: 50%;
        left: 0;
        right:0;
        transform: translateY(-50%);
        z-index: 20;

        .card {
          max-width: 460px;
        }
      }

      // -- travel wrapper fix
      .card-travel-wrapper .card.card-travel .card-body .subline {
        height: auto;
        margin-bottom: .75rem;
      }

      .card-travel-wrapper .card.card-travel .card-body .subline .fade-out {
        display: none !important;
      }

      .card-travel-wrapper .card.card-travel .card-body {
        padding: 1.25rem;
      }

      .card-travel-wrapper .card.card-travel .card-body .bottom-aligned {
        position: static;
      }

      .card-travel-wrapper .card.card-travel .card-body .price-row {
        justify-content: flex-start;
      }

      .card-travel-wrapper .card.card-travel .card-body .date-row .dropdown .btn, .card-travel-wrapper .card.card-travel .card-body .date-row .dropdown .blog-list-entry--comments-list .comment-respond input[type='submit'], .blog-list-entry--comments-list .comment-respond .card-travel-wrapper .card.card-travel .card-body .date-row .dropdown input[type='submit'] {
        padding: 0;
      }
      .card-travel-wrapper .card.card-travel .card-image-holder .card-badge {
        top: 1.25rem;
        left: 1.25rem;
      }

      .card-travel-wrapper .card.card-travel .card-image-holder .add-to-wishlist {
        right: .75rem;
        top: .5rem;
      }

      .card-travel-wrapper {
        margin-bottom:0;
        padding-bottom: 0;
      }
    }
  }
}