.box-contact {
    background-color: #eee;
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    color: #000;

    div {
        a {
            color: #000;
        }

        &.box-contact-whatsapp {
            text-align: center;

            svg {
                margin-bottom: .25rem;
            }
        }
    }
}