.travelshop-datepicker-input[readonly] {
    background: #fff;
}
.daterangepicker {
    z-index: 1050 !important;
}
.travelshop-datepicker {
    position: relative;
    .datepicker-clear {
        cursor: pointer;
        position: absolute;
        right: calc(15px + .55rem);
        bottom: calc(1.275rem);
        z-index: 10;
        display: none;
        path, line {
            pointer-events: none;
        }
    }
    .form-group {
        >div {
            position: relative;
            &:after {
                content: '';
                position: absolute;
                pointer-events: none;
                z-index: 5;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgb(255,255,255);
                border-radius: $border-radius;
                background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.001) 60%);
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .daterangepicker {
        width: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        .ranges {
            display: none;
        }
        .prettydropdown {
            ul {
                li {
                    height: 35px;
                    line-height: 35px;
                }
            }
        }
        .left {
            .prettydropdown {
                ul {
                    z-index: 100;
                }
            }
        }
        .right {
            .prettydropdown {
                ul {
                    z-index: 50;
                }
            }
        }
        &.opensright.show-calendar.ltr.show-ranges {
            .left, .right {
                padding: 0 1rem;
                border-left: 0;
                border-bottom: 0;
                border-right: 0;
                border-top: 0;
                width: 95vw;
                max-width: 450px;

                .calendar-table {
                    .table-condensed {
                        margin-top: 1rem;
                        tr {
                            display: flex;
                            justify-content: space-between;
                        }
                        th, td {
                            height: auto;
                            padding: .4rem .2rem;
                            border-collapse: separate;
                            min-width: 0;
                            width: auto;
                        }
                        th {
                            display: flex;
                            align-items: center;
                        }
                        td {
                            flex: 0 0 14.28%;
                            text-align: center;
                            border: 1px solid #ccc;
                            background: #efefef;
                            border-radius: 0;
                            transition: 300ms ease-in-out all;
                            &.in-range {
                                background: lighten(#007bff, 20%);
                                color: #fff;
                                font-weight: bold;
                            }
                            &.active, &.end-date {
                                background: #007bff;
                                color: #fff;
                                font-weight: bold;
                                transform: scale(1.175);
                                border-radius: 5px;
                                display: inline-block;
                                width: 100%;
                                border: 0;
                            }
                        }
                        tbody {
                            tr {
                                &:first-child {
                                    td {
                                        border-top: 0;
                                        &:first-child {
                                            border-top-left-radius: 5px;
                                        }
                                        &:last-child {
                                            border-top-right-radius: 5px;
                                        }
                                    }
                                }
                                &:last-child {
                                    td {
                                        border-bottom: 0;
                                        &:first-child {
                                            border-bottom-left-radius: 5px;
                                        }
                                        &:last-child {
                                            border-bottom-right-radius: 5px;
                                        }
                                    }
                                }
                                td {
                                    &:first-child {
                                        border-left: 0;
                                    }
                                    &:last-child {
                                        border-right: 0;
                                    }
                                }
                            }
                        }
                        .monthselect, .yearselect {
                            font-size: 1.3rem;
                            margin: .75rem 0 0 0;
                        }
                        .prettydropdown {
                            height: 30px;
                            ul {
                                margin: 0 !important;
                                li {
                                    font-size: .9rem;
                                }
                            }
                            &:first-child {
                                max-width: 115px;
                                ul {
                                    max-width: 115px;
                                    li {
                                        max-width: 115px;
                                    }
                                }
                            }
                        }
                    }
                    th.next, th.prev {
                        span {
                            padding: 6px;
                        }
                    }
                    th.next {
                        padding: 0 .85rem 0 .5rem;
                    }
                    th.prev {
                        padding: 0 .5rem 0 .85rem;
                    }
                }
            }
            .drp-buttons {
                border-top: 0;
                padding: 1rem 0;
                .applyBtn {
                    font-size: 1rem;
                    font-weight: normal;
                    padding: 5px 8px 4px 8px;
                }
                .cancelBtn {
                    position: absolute;
                    top: 1.2rem;
                    right: .4rem;
                }
            }
            &:before, &:after {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}
@include media-breakpoint-up(md) {
    .prettydropdown {
        ul {
            li {
                font-size: .7rem;
            }
        }
        &:first-child {
            max-width: 95px;
            ul {
                max-width: 95px;
                li {
                    max-width: 95px;
                }
            }
        }
    }
    .daterangepicker {
        .drp-buttons {
            .cancelBtn {
                position: absolute;
                left: 0;
                bottom: .1rem;
                margin: 0;
            }
        }
    }
    .travelshop-datepicker {
        .datepicker-clear {
            right: calc(15px + .55rem);
            bottom: calc(.23rem);
        }
    }
}
.list-filter-box .datepicker-clear {
    display: none !important;
}