// -- detail box
.content-block.content-block-detail-booking {
	border-top: 1px solid $gray-200;
	padding: 0;

	h2 {
		margin: 0 0 ($grid-gutter-width / 2) 0;

		@include media-breakpoint-up(md) {
			margin: 0 0 $grid-gutter-width 0;
		}
	}

	.container {
		padding: 0;
	}

	.content-block-detail-booking-inner {
		margin: 0 0 $grid-gutter-width 0;

		.booking-row {
			margin: 2rem 0;
			padding: 1rem 0;
			border-radius: 4px;
			position: relative;
			border-bottom: 3px solid silver;
			transform: scale(1);
			transition: ease-in-out 200ms all;
			-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, .11), 0 4px 5px rgba(0, 0, 0, .05),
				0 2px 4px rgba(0, 0, 0, .1);
			box-shadow: 0 1px 10px rgba(0, 0, 0, .11), 0 4px 5px rgba(0, 0, 0, .05),
				0 2px 4px rgba(0, 0, 0, .1);

			&.checked {
				border-bottom: 3px solid #27ae60;
			}

			&:hover {
				transform: scale(1.025);
			}

			&:nth-child(even) {
				background-color: $gray-100;

				.bottom-bar {
					background-color: $gray-200;
				}
			}

			&:nth-child(odd) {
				background-color: $gray-200;

				.bottom-bar {
					background-color: $gray-300;
				}
			}

			.icon-tabler-circle-check {
				position: absolute;
				top: 0.75rem;
				right: 1rem;
				z-index: 200;

				@include media-breakpoint-up(lg) {
					top: 0;
					right: 0;
					transform: translate(50%, -50%);
				}
			}

			.discount-wrapper {
				position: relative;
				margin: 0.25rem 0 0.5rem 0;

				p {
					font-size: 0.8rem;
					text-align: left;
					margin: 0;

					.msg {
						position: relative;
						padding: 0px 2px;
					}
				}

				@include discount_label;

				.discount-label {
					@include media-breakpoint-up(lg) {
						padding: 5px 10px;
						top: 8px;
					}
				}
			}

			>div {
				padding: 0.25rem 1rem;
				line-height: 1.3;
				font-weight: bold;
				display: flex;
				align-items: flex-start;

				.booking-btn {
					font-weight: bold;

					&.green {
						background-color: $cta-detail-page;
						border-color: $cta-detail-page;

						&:hover,
						&:focus,
						&:active {
							background-color: lighten($cta-detail-page, 15%) !important;
							border-color: lighten($cta-detail-page, 15%) !important;
						}

						&.active {
							background-color: darken($cta-detail-page, 30%) !important;
							border-color: lighten($cta-detail-page, 30%) !important;
						}
					}



				}

				.icon-tabler-clock,
				.icon-tabler-calendar-event,
				.icon-tabler-plane,
				.icon-tabler-car,
				.icon-tabler-bus,
				.icon-tabler-ticket,
				.icon-tabler-star,
				.icon-tabler-bed {
					margin: 0.08rem 0.5rem 0 0;
					min-width: 20px;
					min-height: 20px;
				}

				small {
					display: inline-block;
					line-height: 1.3;
				}

				&.price-container {
					padding-top: 0.5rem;
					margin-top: 0.75rem;
					border-top: 1px solid #ccc;
					justify-content: flex-end;

					.price-total {
						display: inline;
						font-weight: normal;

						strong {
							font-size: 1.3rem;
						}

						@include media-breakpoint-up(lg) {
							display: block;
						}

					}
				}

				@include media-breakpoint-up(lg) {
					padding: 1rem 0.25rem;
					font-weight: 500;

					&.price-container {
						padding: 1rem 0.25rem;
						margin: 0;
						border-top: 0;
						justify-content: flex-start;
					}

					&:nth-child(1) {
						padding-left: 1rem;
					}

					&:nth-last-child(2) {
						padding-right: 1rem;
					}
				}

				@include media-breakpoint-up(xl) {
					padding: 1rem;

					&.price-container {
						padding: 1rem;
					}

					.icon-tabler-clock,
					.icon-tabler-calendar-event,
					.icon-tabler-plane,
					.icon-tabler-car,
					.icon-tabler-bus,
					.icon-tabler-ticket,
					.icon-tabler-star,
					.icon-tabler-bed {
						margin-right: 1rem;
					}
				}
			}

			@include media-breakpoint-up(lg) {
				-webkit-box-shadow: 0 8px 14px -4px rgba(0, 0, 0, .1);
				box-shadow: 0 8px 14px -4px rgba(0, 0, 0, .1);
			}

			&.booking-row-head {
				font-size: 1.1rem;
				color: #000;
				padding: 0.25rem 0;
				box-shadow: none;
				margin: 0 0 -2rem 0;
				border: 0;
				background-color: transparent;

				&:hover {
					transform: scale(1);
				}

				>div {
					font-weight: 500;

					@include media-breakpoint-up(lg) {
						padding: 1rem 0.25rem;

						&:first-child {
							padding-left: 1rem;
						}

						&:last-child {
							padding-right: 1rem;
						}
					}

					@include media-breakpoint-up(xl) {
						padding: 1rem;
					}
				}
			}

			.bottom-bar {
				display: flex;
				width: 100%;
				flex-wrap: wrap;
				// background: $gray-300;
				margin: 1rem 0 -1rem 0;
				padding: 0.5rem 0;
				justify-content: flex-end;

				>div {
					margin: 0.25rem 0;
				}

				span {
					font-weight: normal;
				}

				p {
					text-align: right;
					margin: 0;
				}
			}
		}
	}
}