.content-block-schema-accordion {
  .accordion-item {
    background-color: #f2f4f7;
    margin-bottom: 1rem;
    border-radius: 5px;
    overflow: hidden;
    .accordion-question {
      background-color: #e9ecef;
      padding: .7rem 1.5rem;
      font-size: 1.2rem;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      .icon-tabler-minus {
        display: none;
      }
    }
    .accordion-answer {
      display: none;
      padding: .7rem 1.5rem;
    }
    &.active {
      .accordion-question {
        .icon-tabler-plus {
          display: none;
        }
        .icon-tabler-minus {
          display: block;
        }
      }
      .accordion-answer {
        display: block;
      }
    }
  }
}