.gmaps-box {
    border: 1px solid #ccc;

    @include media-breakpoint-down(md) {
        margin: 2rem 0;
    }

    .show-map {
        cursor: pointer;
    }

    .gmaps-box-image {
        width: 100%;
        height: auto;
    }
}

#map {
    width: 100%;
    min-height: 65vh;
    z-index: 100;
}