%icon-link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  align-items: center;
  gap: .25rem;

  color: $body-color;
  transition: color $animation-speed-default;

  text-decoration: none;

  .icon {
    width: $font-size-lg;
    height: $font-size-lg;
    line-height: 0;

    color: $primary;

    > svg {
      width: $font-size-lg;
      height: $font-size-lg;
    }
  }

  &:hover, &:focus, &:active {
    color: $primary;

    .icon {
      color: $primary;
    }
  }

  &:hover {
    text-decoration: none;
  }

  &:focus, &:active {
    text-decoration: underline;
  }
}

.icon-link {
  @extend %icon-link;
}