// -- settings for small variant of icon teaser
%icon-teaser-small {
  flex-direction: row;

  // -- text align left, in every case, b.o. column-layout ( small variant )
  text-align: left;

  // -- teaser icon
  .teaser-icon {
    padding: $icon-teaser-spacer-x 0 $icon-teaser-spacer-x $icon-teaser-spacer-x;

    .icon-inner {
      width: $icon-teaser-icon-outer-size-small;
      height: $icon-teaser-icon-outer-size-small;

      > svg {
        width: $icon-teaser-icon-size-small;
        height: $icon-teaser-icon-size-small;
      }
    }
  }

  // -- teaser body manipulation
  .teaser-body {
    position: relative;
    padding-right: $icon-teaser-spacer-x + #{remToPx(3rem)};
    flex: 1;

    h1 + p,
    p + p {
      margin-top: .5rem; // smaller margin between text items for small variant.
    }

    a.btn {
      @include border-left-radius(0);

      position: absolute;
      width: 3rem;

      @if ( $icon-teaser-border-width != 0 ) {
        top: -$icon-teaser-border-width;
        right: -$icon-teaser-border-width;
        bottom: -$icon-teaser-border-width;
      }

      @if ( $icon-teaser-border-width == 0 ) {
        top: 0;
        right: 0;
        bottom: 0;
      }

      align-items: center;
      justify-content: center;

      display: flex;

      .btn-text {
        display: none;
      }

      .btn-icon {
        display: block;
      }
    }
  }
}

// -- settings for default variant of icon teaser
%icon-teaser-default {
  @include get-custom-breakpoint($icon-teaser-break) {
    flex-direction: column;
    text-align: $icon-teaser-text-align;

    // -- teaser icon
    .teaser-icon {
      padding: $icon-teaser-spacer-x $icon-teaser-spacer-x 0 $icon-teaser-spacer-x;

      .icon-inner {
        width: $icon-teaser-icon-outer-size;
        height: $icon-teaser-icon-outer-size;

        > svg {
          width: $icon-teaser-icon-size;
          height: $icon-teaser-icon-size;
        }
      }
    }

    // -- teaser body manipulation
    .teaser-body {

      h1 + p,
      p + p {
        margin-top: $icon-teaser-spacer-y; // smaller margin between text items for small variant.
      }

      a.btn {
        .btn-text {
          display: block;
        }

        .btn-icon {
          display: none;
        }

        // -- make changes from small teaser "removed" when is used
        @if ( $icon-teaser-break != null ) {
          position: static;
          width: auto;

          top: unset;
          right: unset;
          bottom: unset;

          @include border-left-radius($btn-border-radius);
        }
      }

      h1 + a.btn,
      p + a.btn {
        margin-top: $icon-teaser-spacer-y;
      }
    }
  }
}

.teaser.icon-teaser {
  // -- defaults
  @include border-radius($icon-teaser-border-radius);

  border-width: $icon-teaser-border-width;
  border-style: solid;
  border-color: $icon-teaser-border-color;

  @include get-element-shadow('icon-teaser');

  background-color: $icon-teaser-bg;

  display: flex;

  // -- teaser-icon
  .teaser-icon {
    display: flex;
    justify-content: center;

    .icon-inner {
      @include border-radius(50%);
      background-color: $icon-teaser-icon-bg;
      color: $icon-teaser-icon-color;

      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 0;

      // -- color themes
      &-primary {
        background-color: $primary;
      }

      &-secondary {
        background-color: $secondary;
      }
    }
  }

  // -- teaser-body
  .teaser-body {
    padding: $icon-teaser-spacer-x;

    h1 {
      margin: 0;
    }

    p {
      margin: 0;
    }

    .btn {
      .btn-icon {
        line-height: 1;

        svg {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }

  // -- layout handling
  @if ( $icon-teaser-break != null ) {
    @extend %icon-teaser-small;
  }

  @extend %icon-teaser-default;
}