.mobile-bar {
    position: fixed;
    z-index: 750;
    bottom: 0;
    left: 0;
    right: 0;
    padding: .75rem 1rem;
    border-top: 5px solid #ddd;
    background: #f2f4f7;
    transform: translateY(100%);
    transition: 300ms ease-in-out all;

    &.show {
        transform: translateY(0);
    }

    .container {
        padding: 0;
    }

    @include discount_label;

    .mobile-bar-title {
        display: block;
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.2;
    }

    p {
        font-size: 1rem;
        margin-bottom: .25rem;
    }

    .mobile-bar-cta {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .mobile-bar-date {
            white-space: nowrap;
            font-size: .8rem;

            .date {
                padding: .25rem .5rem;
                cursor: pointer;
                border: 1px solid #06f;
                display: flex;
                align-items: center;
                margin-right: 1rem;

                .icon {
                    margin-right: .2rem;
                }

                .show-dates {
                    transform: translateY(1px);
                }
            }
        }

        .booking-btn {
            white-space: nowrap;
            color: #fff;
            cursor: pointer;
            font-weight: bold;
            font-size: .8rem;

            &.green {
                background-color: $cta-detail-page;
                border-color: $cta-detail-page;

                &:hover,
                &:focus,
                &:active {
                    background-color: lighten($cta-detail-page, 15%) !important;
                    border-color: lighten($cta-detail-page, 15%) !important;
                    color: #fff;
                }

                &.active {
                    background-color: darken($cta-detail-page, 30%) !important;
                    border-color: lighten($cta-detail-page, 30%) !important;
                }
            }
        }

        @include media-breakpoint-up(lg) {
            justify-content: flex-start;

            .booking-btn {
                width: auto;
            }
        }
    }

    @include media-breakpoint-up(md) {
        padding: 1.25rem 1rem;
    }

}