/**
 *  Global offcanvas mixin wich is used in breakpoints by variant elements.
 */
.offcanvas-close {
  display: none;
}

@mixin offcanvas() {
  padding: ($grid-gutter-width / 2) 0;

  position: fixed;
  top: 0;
  bottom: 0;

  width: 300px;
  transition: left 0.3s, opacity 0.3s;
  left: -300px;
  opacity: 0;

  display: block;
  pointer-events: none;

  z-index: $zindex-offcanvas;

  &.is--open {
    left: 0;
    opacity: 1;
    pointer-events: auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  background-color: #fff;

  .offcanvas-close {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.125rem;
    background: #e9ecef;
    border: 0;

    padding-left: $grid-gutter-width;
    text-align: left;

    border-bottom: 1px solid $gray-200 !important;
    height: 3.125rem; // 50px;
    line-height: 3.125rem; // 50px;

    margin-top: ($grid-gutter-width / 2) * -1;
    // margin-bottom: $grid-gutter-width / 2;

    color: $gray-600;
    transition: all 0.3s;

    &:active,
    &:focus,
    &:active {
      border-bottom: 1px solid $gray-200 !important;
    }

    &:focus,
    &:active {
      color: $gray-600;
    }
  }

  // -- handle offcanvas menu style stuff.
  ul.navbar-nav {
    padding: 0;
    margin: 0;
    .nav-item {
      margin: 0;
      padding: 0;
      border-bottom: 1px solid #e9ecef;

      &.show {
        .nav-link {
          &.dropdown-toggle {
            svg {
              transform: rotate(0);
            }
          }
        }
      }

      .nav-link {
        height: 3.125rem; // 50px;
        line-height: 3.125rem;
        font-size: 1.125rem; // 18px

        padding: 0 $grid-gutter-width;
        display: block;

        transition: all 0.3s;

        &.dropdown-toggle {
          position: relative;

          svg {
            transform: rotate(-90deg);
            transition: 150ms ease-in-out all;
          }

          i {
            transition: transform 0.3s;
            position: absolute;
            right: $grid-gutter-width;
            top: 50%;
            margin-top: -7px;
          }
        }

        &:hover {
          background-color: $gray-200;
        }
      }

      &.show .nav-link.dropdown-toggle i {
        transform: rotate(180deg);
      }

      // -- submenu
      .dropdown-menu {
        border: 0;
        margin-top: 0;
        font-size: $font-size-sm;
        padding: 0;

        a.dropdown-item {
          color: $gray-600;
          background-color: transparent;
          border-top: 1px solid #e9ecef;
          height: 3.125rem; // 50px;
          line-height: 1;
          display: flex;
          align-items: center;
          font-size: 1.125rem; // 18px
          padding: ($grid-gutter-width / 3) $grid-gutter-width
            ($grid-gutter-width / 3) (($grid-gutter-width / 2) * 3);

          transition: all 0.3s;

          &:hover,
          &:focus,
          &:active {
            background-color: transparent;
          }

          &:hover {
            color: $body-color;
            background-color: $gray-200;
          }

          &.active,
          &.active:hover {
            color: $primary;
          }
          svg {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
}

// -- extend style on main nav.
.header-main {
  @include media-breakpoint-down(sm) {
    .navbar.navbar-expand-md {
      @include offcanvas();
    }
  }
  @include media-breakpoint-down(md) {
    .navbar.navbar-expand-lg {
      @include offcanvas();
    }
  }
  @include media-breakpoint-down(lg) {
    .navbar.navbar-expand-xl {
      @include offcanvas();
    }
  }
}
