.price-box {
    padding: 1rem 0;
    position: relative;
    transform: scale(1);
    transition: ease-in-out 200ms all;
    background-color: $gray-200;
    // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    &.checked {
        border-bottom: 3px solid #27ae60;
    }

    .show-dates {
        padding: .25rem .5rem;
        cursor: pointer;
        border: 1px solid #06f;
        display: flex;
        align-items: center;
        padding-left: .15rem;
        margin-left: -.2rem;

        span {
            line-height: 1;
            transform: translateY(1px);
        }
    }

    .icon-tabler-circle-check {
        position: absolute;
        top: 0.75rem;
        right: 1rem;
        z-index: 200;
    }

    .discount-wrapper {
        position: relative;
        margin: 0.25rem 0 0.5rem 0;
        line-height: 2;

        p {
            font-size: 0.8rem;
            text-align: left;
            margin: 0;

            .msg {
                position: relative;
                padding: 0px 2px;
            }
        }

        @include discount_label;

    }

    >div {
        padding: 0.25rem 1rem;
        line-height: 1.3;
        font-weight: bold;
        display: flex;
        align-items: flex-start;

        @include booking_btn;

        .icon-tabler-clock,
        .icon-tabler-calendar-event,
        .icon-tabler-plane,
        .icon-tabler-car,
        .icon-tabler-bus,
        .icon-tabler-ticket,
        .icon-tabler-star,
        .icon-tabler-bed {
            margin: 0.08rem 0.5rem 0 0;
            min-width: 20px;
            min-height: 20px;
        }

        .icon-tabler-calendar-event {
            margin: 0 .5rem 0 0;
        }

        small {
            display: inline-block;
            line-height: 1.3;
        }

        &.price-container {
            padding-top: 0.5rem;
            margin-top: 0.75rem;
            border-top: 1px solid #ccc;
            justify-content: flex-end;

            .price-total {
                display: inline;
                font-weight: normal;

                strong {
                    font-size: 1.3rem;
                }

            }
        }
    }

    &.booking-row-head {
        font-size: 1.1rem;
        color: #000;
        padding: 0.25rem 0;
        box-shadow: none;
        margin: 0 0 -2rem 0;
        border: 0;
        background-color: transparent;

        &:hover {
            transform: scale(1);
        }

        >div {
            font-weight: 500;
        }
    }

    .bottom-bar {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin: 1rem 0 -1rem 0;
        padding: 0.5rem 0;
        justify-content: flex-end;

        >div {
            margin: 0.25rem 0;
        }

        span {
            font-weight: normal;
        }

        p {
            text-align: right;
            margin: 0;
        }
    }
}