.teaser.category-teaser {

  display: block;

  // -- category image + text
  .teaser-category-image {
    position: relative;

    .teaser-image {
      @include border-radius($card-border-radius);

      // -- reset border-bottom left radius + bottom right radius
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      background-color: lightgray;
      background-position: center;
      background-size: cover;

      height: 218px;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.2);
        @include border-radius($card-border-radius);

        // -- reset border-bottom left radius + bottom right radius
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

    }

    .teaser-body {
      position:absolute;
      bottom:0;
      left:0;
      right:0;

      z-index: 10;

      color: #fff;
      text-shadow: 0 0 10px rgba(#000, .5);

      text-align: left;

      h1 {
        margin-bottom: 0;
      }
    }
  }

  // -- products
  .teaser-body {
    text-align: left;
    padding: 1rem;

    a {
      width: auto;
      position: static;
    }

    .teaser-products {
      .card-category-travel-wrapper {
        border-bottom: 1px solid $breadcrumb-bg;
        padding-bottom: ($grid-gutter-width/2);
        margin-bottom: ($grid-gutter-width/2);
        position: relative;

        &:last-child {
          border-bottom: 0;
          padding-bottom:0;
          margin-bottom: 0;
        }

        // -- wishlist
        .add-to-wishlist {
          position: absolute;
          cursor: pointer;
          top: 0;
          right: 1rem;
          padding: 0;
          line-height: 1;

          svg {
            pointer-events: none;
            width: 1.5rem;
            height: 1.5rem;

            .wishlist-heart {
              fill: #fff;
            }
          }

          &.active {
            svg {
              .wishlist-heart {
                stroke: #06f;
                fill: #06f;
              }
            }
          }
        }

        // -- body
        .card-body {
          padding: 0;
          text-align: left;

          .card-title {
            font-size: 1rem;
            margin-bottom: 0.25rem;
            padding-right: 2rem;
            text-align: left;

            a {
              color: $body-color;
              display: block;
            }
          }
        }

        // discount
        .discount-wrapper {
          position: relative;
          margin: 0.5rem 0 0.5rem 0;

          p {
            font-size: 0.8rem;
            text-align: left;
            margin: 0;

            .msg {
              background-color: white;
              position: relative;
              padding: 0 0 0 2px;
            }
          }

          hr {
            display: none;
          }

          @include discount_label;
        }

        // price row
        .price-row {
          display: flex;
          flex-wrap: nowrap;
          flex-direction: row;
          align-content: baseline;
          align-items: baseline;

          > a.product-price {
            margin-left: auto;
            margin-right: 0;
            color: $body-color;
            text-decoration: none;
            align-content: baseline;
            align-items: baseline;
            width: auto;

            small strong {
              margin-right: 4px;
            }

            small + strong {
              font-size: 1.2rem;
            }
          }

          > span.small {
            margin-left: 0;
            margin-right: auto;
            white-space: nowrap;
          }
        }
      }
    }
  }
}