.layout-block.layout-block-search-header {
  padding: $grid-gutter-width 0;
  position: relative;

  // -- media bg
  .layout-block-search-header--media {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;

    z-index: 0;

    width: 100%;
    height: 100%;

    > img {
      @extend %media-cover-image;
    }
  }

  // -- search
  .layout-block-search-header--search {
    position: relative;

    .h1 {
      @extend %text-on-image;
    }
  }
}