.travelshop_hotline_batch {
  background: $primary;
  color: #fff;
  display: inline-block;
  text-align: left;
  padding: 0.25rem;
  position: relative;
  line-height: 1;
  border-radius: 5px;
  small,
  br,
  a {
    display: none;
  }
  .phone-link {
    display: block;
    svg {
      width: 25px;
      height: auto;
    }
  }

  @media only screen and (min-width: 500px) {
    padding: 0.5rem 0.5rem 0.5rem 3rem;
    small,
    a {
      display: inline-block;
      font-weight: bold;
      color: #fff;
      text-decoration: none;
      font-size: 0.8rem;
    }
    br {
      display: block;
    }
    .phone-link {
      position: absolute;
      left: 0.5rem;
      top: 50%;
      transform: translateY(-50%);
      svg {
        width: 35px;
        height: auto;
      }
    }
  }
}
