.share {
  position: relative;
  display: flex;
  justify-content: flex-end;
  .btn {
    margin: .5rem 0;
    cursor: pointer;
  }
  #sharemodal:checked + .share-box {
    display: block;
  }
  .share-box {
    display: none;
    position: absolute;
    cursor: pointer;
    z-index: 50;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    overflow: hidden;
    top: 100%;
    right: 0;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        a {
          display: flex;
          align-items: center;
          padding: .5rem 1rem;
          background: #efefef;
          color: #333;
          font-size: .9rem;
          svg {
            margin-right: 1rem;
          }
          &:hover {
            text-decoration: none;
            background: #dddddd
          }
        }
      }
    }
  }
}