.teaser {
  margin: 0 0 1rem 0;
  position: relative;
  display: flex;
  flex-direction: row;
  min-width: 0; // See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106
  word-wrap: break-word;
  background-color: $card-bg;
  background-clip: border-box;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  overflow: hidden;
  @include border-radius($card-border-radius);

  &.wp-teaser,
  &.image-teaser {
    flex-direction: column;
    .teaser-body {
      text-align: left;
      padding: 1rem;
      .teaser-title {
        font-size: 1.25rem;
      }
      a {
        position: static;
        width: 100%;
        height: auto;
      }
    }

  }

  .teaser-icon {
    padding: 1rem .5rem 1rem 1rem;
    line-height: 1;

    .icon-inner {
      width: 40px;
      height: 40px;

      border-radius: 50%;
      background-color: $gray-200;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      margin: 0 auto;

      line-height: 80px;
      font-size: 2.125rem;

      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 30px;
        height: 30px;
      }

      &-primary {
        background-color: $primary;
        color: #fff;
      }

      &-secondary {
        background-color: $secondary;
        color: #fff;
      }
    }
  }
  .teaser-body {
    // Enable `flex-grow: 1` for decks and groups so that card blocks take up
    // as much space as possible, ensuring footers are aligned to the bottom.
    flex: 1 1 auto;
    // Workaround for the image size bug in IE
    // See: https://github.com/twbs/bootstrap/pull/28855
    min-height: 1px;
    padding: 1rem 3.25rem 1rem .5rem;
    color: $card-color;
    text-align: left;
    position: relative;
    .teaser-title {
      font-size: 1rem;
    }
    p {
      font-size: .8rem;
      margin: 0;
    }
    a {
      position: absolute;
      width: 48px;
      height: 100%;
      top: 0;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0;
      span {
        display: none;
      }
    }
  }
  @include media-breakpoint-up(sm) {
    flex-direction: column;
    margin: 0 0 1.5rem 0;
    .teaser-icon {
      padding: 1rem .5rem 0 1rem;
      line-height: 1;

      .icon-inner {
        width: 80px;
        height: 80px;

        svg {
          width: 55px;
          height: 55px;
        }
      }
    }
    .teaser-body {
      text-align: center;
      padding: 1rem;
      .teaser-title {
        font-size: 1.25rem;
      }
      p {
        font-size: 1rem;
        margin-bottom: .75rem;
      }
      a {
        position: relative;
        top: auto;
        bottom: auto;
        right: auto;
        height: auto;
        width: 100%;
        span {
          display: inline-block;
        }
      }
    }
  }
}
