.content-block-team {
  .teaser.team-teaser {

    display: block;
    text-align: center;
    border-radius: 0;
    box-shadow: none;
    border: 0;
    background-color: transparent;
    overflow: visible;

    .teaser-image {
      width: 10rem;
      height:10rem;
      border-radius: 50%;

      overflow: hidden;
      position: relative;

      z-index: 1;
      margin: 0 auto -5rem auto;

      .image-holder {
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;

        img {
          position: absolute;
          top:0;
          left:0;
          bottom:0;
          right:0;

          width: 100%;
          height: 100%;

          object-fit: cover;
        }
      }
    }

    .teaser-body {
      display: block;
      padding: 6rem 1rem 1rem;
      text-align: center;

      background-color: $card-bg;
      background-clip: border-box;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      overflow: hidden;
      @include border-radius($card-border-radius);

      h1 {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: .5rem;

        @include media-breakpoint-up(md) {
          font-size: 1.25rem;
          margin-bottom: 1rem;
        }

        small {
          font-weight: 400;
          font-size: 1rem;
          display: block;
          clear: both;
          margin-top: .25rem;
          color: $gray-700;
        }
      }

      .teaser-body-text + .teaser-body-contact {
        margin-top: .5rem;

        @include media-breakpoint-up(md) {
          margin-top: 1rem;
        }
      }

      .teaser-body-button {
        margin-top: .5rem;

        @include media-breakpoint-up(md) {
          margin-top: 1rem;
        }

        a {
          width: auto;
          position: static;
          border-radius: $btn-border-radius;
        }
      }

      .teaser-body-contact {
        a {
          display: block;
          position: static;
          clear: both;
          width: auto;
        }
      }
    }
  }
}