.travelshop-gmaps-box {
    border: 1px solid #ccc;
    margin: 2rem 0;

    .travelshop-gmaps-box-image {
        width: 100%;
        height: auto;
    }

    .travelshop-gmaps-box-contact {
        background-color: #eee;
        padding: .5rem 1rem;
        display: flex;
        justify-content: space-between;
        color: #000;

        div {
            a {
                color: #000;
            }

            &.travelshop-gmaps-box-contact-whatsapp {
                text-align: center;

                svg {
                    margin-bottom: .25rem;
                }
            }
        }
    }
}