.travelshop-teaser-mega-stripe {
	margin-bottom: 1rem;
	.stripe-inner {
		display: flex;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		border-radius: $border-radius;
		background: #fff;
		.stripe-image {
			flex: 0 0 35%;
			background-size: cover;
			background-position: center;
			position: relative;
			border-top-left-radius: $card-border-radius;
			border-bottom-left-radius: $card-border-radius;
			.add-to-wishlist {
				position: absolute;
				top: 0;
				left: 0;
				padding: 0.4rem 0.5rem;
				cursor: pointer;
				svg {
					stroke: #007bff;
					fill: #fff;
					pointer-events: none;
				}
				&.active {
					svg {
						fill: #007bff;
						stroke: #fff;
					}
				}
			}
			.stripe-duration {
				position: absolute;
				top: 0;
				right: 0;
				background: rgba(0, 0, 0, 0.4);
				text-align: center;
				padding: 0.4rem 0.5rem;
				line-height: 1;
				color: #fff;
				small,
				strong {
					font-weight: 500;
				}
			}
		}
		.stripe-content {
			flex: 0 0 65%;
			.stripe-content-head {
				padding: 0.75rem;
				border-bottom: 1px solid #ccc;
				h1 {
					font-size: 1rem;
					font-weight: 400;
					margin: 0;
					a {
						color: #333;
						&:hover {
							color: #333;
							text-decoration: none;
						}
					}
				}
			}
			.stripe-content-body {
				display: none;
			}
			.stripe-content-footer {
				.stripe-departure {
					strong {
						display: none;
					}
					.dropdown {
						.circle {
							width: 10px;
							height: 10px;
							border-radius: 50%;
							text-align: center;
							display: inline-block;
							background-color: gray;
							margin-right: 4px;

							&.green {
								background-color: #28a745;
							}

							&.orange {
								background-color: orange;
							}

							&.red {
								background-color: red;
							}
						}
						.btn {
							white-space: normal;
							text-align: center;
							font-size: 0.7rem;
							padding: 1rem 0.75rem;
							border: 0;
							outline: 0;
							box-shadow: none;
							&:after {
								margin-left: 0.2rem;
							}
							&:hover,
							&:active,
							&:focus {
								border: 0;
								outline: 0;
								box-shadow: none;
							}
						}
						.dropdown-menu {
							box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
								0 3px 6px rgba(0, 0, 0, 0.23);
							.dropdown-header {
								padding: 0.25rem 0.5rem;
							}
							.dropdown-item {
								padding: 0.25rem 0.5rem;
								font-size: 0.8rem;
							}
						}
					}
				}
				.stripe-cta {
					padding: 0 0.75rem;
					margin: 0.175rem 0 0.5rem 0;
					.travel-teaser-link {
						padding: .4rem 0;
						display: inline-block;
					}
					.discount-wrapper {
						p {
							margin-bottom: 0.35rem;
							font-size: 0.8rem;
							@include discount_label;
						}
					}
				}
			}
		}
	}
	@include media-breakpoint-up(md) {
		.stripe-inner {
			.stripe-image {
				flex: 0 0 30%;
				.stripe-duration {
					padding: 0.5rem 0.75rem;
					line-height: 1.15;
					strong {
						font-size: 1.25rem;
					}
				}
			}
			.stripe-content {
				flex: 0 0 70%;
				.stripe-content-head {
					h1 {
						font-size: 1.2rem;
					}
				}
				.stripe-content-footer {
					.stripe-departure {
						strong {
						}
						.dropdown {
							.btn {
								font-size: 0.8rem;
								text-align: left;
								padding: 0 0.75rem;
							}
						}
					}
					.stripe-cta {
						.travel-teaser-link {
							.btn {
								padding: .5rem 1rem;
							}
						}
					}
				}
			}
		}
	}
	@include media-breakpoint-up(lg) {
		margin-bottom: 1.5rem;
		.stripe-inner {
			box-shadow: 0 0 10px rgba(0,0,0,.12);
			.stripe-image {
				.stripe-duration {
					padding: 0.75rem 1.2rem;
					line-height: 1.15;
					strong {
						font-size: 1.5rem;
					}
				}
			}
			.stripe-content {
				.stripe-content-head {
					padding: 1.175rem;
					h1 {
						font-size: 1.6rem;
					}
				}
				.stripe-content-body {
					display: block;
					padding: 0.75rem 1.175rem;
					p {
						margin: 0;
						&.attribute-row {
							margin-top: 0.5rem;
						}
					}
				}
				.stripe-content-footer {
					display: flex;
					justify-content: flex-end;
					align-items: flex-end;
					margin-top: 1rem;
					.stripe-departure {
						margin: 0.5rem 0;
						strong {
							display: block;
							text-align: right;
							padding: 0 0.75rem;
							font-size: 0.8rem;
							margin: 0.5rem 0 -0.4rem 0;
						}
						.dropdown {
							.dropdown-toggle {
							}
						}
					}
					.stripe-cta {
						.travel-teaser-link {
							padding: 0;
						}
						.discount-wrapper {
							p {
								text-align: center;
							}
						}
					}
				}
			}
		}
	}
}
