.travelshop-image-slider-wrapper {
    position: relative;
    margin: 0 -30px;

    .tns-controls {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        pointer-events: none;
        z-index: 500;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);

        button {
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            background-color: #fff;
            border: 0;
            outline: 0;
            padding: .25rem;
        }
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        width: 15px;
        height: 100%;
        background: rgba(255, 255, 255, .4);
        top: 0;
        bottom: 0;
        z-index: 250;
    }

    &:before {
        left: 0;
    }

    &:after {
        right: 0;
    }

    .travelshop-image-slider {
        div {
            position: relative;

            .travelshop-image-slider-copyright {
                font-size: .8rem;
                position: absolute;
                z-index: 450;
                bottom: 15px;
                left: 15px;
                color: #fff;
                padding: .05rem .4rem;
                background: rgba(0, 0, 0, .5);
            }

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        margin: 0;
        pointer-events: none;

        &:before,
        &:after {
            display: none;
        }

        .travelshop-image-slider {
            display: block !important;

            div {
                .travelshop-image-slider-copyright {
                    left: auto;
                    bottom: auto;
                    right: 15px;
                    top: 15px;
                }
            }

            .tns-item {
                display: none;

                &#tns1-item0 {
                    display: block;
                }
            }
        }
    }
}