.travelshop-gmaps-box {
    border: 1px solid #ccc;

    @include media-breakpoint-down(md) {
        margin: 2rem 0;
    }

    .show-map {
        cursor: pointer;
    }

    .travelshop-gmaps-box-image {
        width: 100%;
        height: auto;
    }

    .travelshop-gmaps-box-contact {
        background-color: #eee;
        padding: .5rem 1rem;
        display: flex;
        justify-content: space-between;
        color: #000;

        div {
            a {
                color: #000;
            }

            &.travelshop-gmaps-box-contact-whatsapp {
                text-align: center;

                svg {
                    margin-bottom: .25rem;
                }
            }
        }
    }
}

#map {
    width: 100%;
    min-height: 65vh;
    z-index: 100;
}