body {
	margin-top: 70px;

	@include media-breakpoint-up(md) {
		margin-top: 80px;
	}

	@include media-breakpoint-up(lg) {
		margin-top: 90px;
	}

	@include media-breakpoint-up(xl) {
		margin-top: 100px;
	}
}

.header-main {
	background: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	z-index: 1500;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;

	.navbar-brand {
		margin-right: 0;
	}

	// -- change row handling for mobile devices.
	@include media-breakpoint-down(md) {
		> .container > .row {
			margin-left: ($grid-gutter-width / 3) * -1;
			margin-right: ($grid-gutter-width / 3) * -1;

			> div {
				padding-left: $grid-gutter-width / 3;
				padding-right: $grid-gutter-width / 3;
			}
		}
	}

	&.affix {
		.navbar-brand {
			height: $header-height;
		}
	}

	// -- brand
	.navbar-brand {
		transition: 300ms ease-in-out all;
		padding-top: 0;
		padding-bottom: 0;

		height: $header-height;

		vertical-align: middle;
		align-items: center;

		display: -ms-flex;
		display: flex;

		@include media-breakpoint-up(md) {
			height: $header-height-md;
		}

		@include media-breakpoint-up(lg) {
			height: $header-height-lg;
		}

		@include media-breakpoint-up(xl) {
			height: $header-height-xl;
		}

		// -- img
		img {
			@include media-breakpoint-down(sm) {
				height: 14px !important;
				width: auto;
			}
		}
	}

	// -- spacing navbar
	nav.navbar {
		padding-top: 0;
		padding-bottom: 0;

		// -- change style of navbar little

		ul.navbar-nav {
			> li {
				> a {
					font-size: 0.9rem;
					color: $gray-700;
					transition: color 0.3s;

					&:active,
					&:focus {
						color: $gray-700;
					}

					&:hover,
					&:hover:active,
					&:hover:focus {
						color: $primary;
					}
					@include media-breakpoint-up(xl) {
						font-size: 1.25rem;
					}
				}

				&.active > a {
					color: $primary;
				}
			}
		}

		// -- changes sm expand nav
		@include media-breakpoint-up(sm) {
			&.navbar-expand-sm .navbar-nav .nav-link {
				padding-left: 0;
				padding-right: 0;
			}

			&.navbar-expand-sm .navbar-nav .nav-item + .nav-item {
				margin-left: 1.5rem;
			}
		}

		// -- changes md expand nav
		@include media-breakpoint-up(md) {
			&.navbar-expand-md .navbar-nav .nav-link {
				padding-left: 0;
				padding-right: 0;
			}

			&.navbar-expand-md .navbar-nav .nav-item + .nav-item {
				margin-left: 1.5rem;
			}
		}

		// -- changes lg expand nav
		@include media-breakpoint-up(lg) {
			&.navbar-expand-lg .navbar-nav .nav-link {
				padding-left: 0;
				padding-right: 0;
			}

			&.navbar-expand-lg .navbar-nav .nav-item + .nav-item {
				margin-left: 1.5rem;
			}
		}

		// -- changes xl expand nav
		@include media-breakpoint-up(xl) {
			&.navbar-expand-xl .navbar-nav .nav-link {
				padding-left: 0;
				padding-right: 0;
			}

			&.navbar-expand-xl .navbar-nav .nav-item + .nav-item {
				margin-left: 1.5rem;
			}
		}
	}

	// -- search toggle
	.toggler.search-toggler {
		transition: all 0.3s;

		&:hover {
			color: $primary;
		}

		i {
			font-size: 1.5rem; // 24px;
		}
	}

	// -- calendar
	.calendar.calendar-link {
		position: relative;
		transition: all 0.3s;

		svg {
			stroke: rgb(96, 125, 139) !important;
		}
	}

	.p-r-0 {
		padding-right: 0 !important;
	}

	// -- wishlist
	.toggler.wishlist-toggler {
		position: relative;
		padding-right: 0.75rem;

		transition: all 0.3s;

		@keyframes pulse {
			0% {
				transform: scale(1, 1);
			}

			25% {
				transform: scale(1.3, 1.3);
			}

			50% {
				transform: scale(1, 1);
			}

			75% {
				transform: scale(1.3, 1.3);
			}

			100% {
				transform: scale(1, 1);
			}
		}

		&.animate svg {
			animation: pulse 1.25s ease-in-out 1;
		}

		&:hover {
			color: $primary;
		}

		i {
			font-size: 1.5rem; // 24px;
		}

		.wishlist-count {
			position: absolute;
			top: 0;
			right: 0;
			font-size: 0.6rem; // 8px;
			color: #fff;
			width: 1.125rem; // 18px
			height: 1.125rem; // 18px
			border-radius: 9px;

			display: block;
			line-height: 1.125rem; // 18px
			text-align: center;

			background-color: $primary;
		}
	}

	.dropdown-menu-wishlist {
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		padding: 0.25rem 1rem 0.25rem 1rem;
		width: 90vw;
		max-width: 400px;

		.wishlist-items {
			p {
				padding: 0.75rem 0 0 0;
			}
			.wishlist-item {
				display: flex;
				padding: 0.75rem 0;
				border-bottom: 1px solid #ccc;
				&:last-child {
					border: 0;
				}
				.wishlist-item-image {
					flex: 1;
					img {
						width: 100%;
						height: auto;
					}
				}
				.wishlist-item-data {
					flex: 2;
					padding: 0 0 0 1rem;
					span {
						display: block;
						&.price {
							display: flex;
							justify-content: space-between;
							align-items: flex-end;
							font-size: 0.8rem;
							line-height: 0.8;
							margin-top: 1rem;
							.remove-from-wishlist {
								text-decoration: underline;
								cursor: pointer;
							}
						}
						&.name {
							line-height: 1.2;
							padding-bottom: 0.5rem;
							font-weight: bold;
						}
						a {
							text-decoration: none;
							color: #444;
						}
						strong {
							font-size: 1.3rem;
						}
					}
				}
			}
		}
	}
}

// fix the wp admin bar issue on sticky headers
.admin-bar .header-main {
	top: 32px;
}

// fix the beaver builder admin bar issue on sticky headers
.fl-builder-edit .header-main {
	top: 45px;
}

.navbar-toggler {
	padding-left: 0;
	padding-right: 0;

	border: 0;

	&:hover,
	&:active,
	&:focus {
		outline: none;
	}

	transition: all 0.3s;

	&:hover {
		color: $primary;
	}

	i {
		font-size: 1.5rem; // 24px;
	}
}

.toggler {
	@extend .navbar-toggler;
}

/// -- navbar, remove Caret
.navbar-nav {
	.nav-item {
		.nav-link {
			display: block;

			&.dropdown-toggle {
				i {
					font-size: $font-size-sm;
					color: $body-color-light;
				}

				&:after {
					display: none;
				}
			}
		}
	}
}

// -- mixin for different expanded headers
@mixin searchmobile() {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	z-index: $zindex-offcanvas;
	background-color: #fff;
	border-bottom: 1px solid $gray-200;

	display: block !important;
	padding: $grid-gutter-width;

	pointer-events: none;
	opacity: 1;
	transform: translateY(-100%);

	transition: transform 0.3s;

	&.is--open {
		opacity: 1;
		pointer-events: auto;
		transform: translateY(0%);
	}
}

// -- search-field
@include media-breakpoint-down(lg) {
	#search.col-search.d-xl-block {
		@include searchmobile();
	}
}
@include media-breakpoint-down(md) {
	#search.col-search.d-lg-block {
		@include searchmobile();
	}
}
@include media-breakpoint-down(sm) {
	#search.col-search.d-md-block {
		@include searchmobile();
	}
}
