.detail-page-v2-container {
    .modal-wrapper {
        .modal-inner {
            display: flex;
            flex-direction: column;

            .modal-body-outer {
                max-height: 100vh;

                @include media-breakpoint-up(md) {
                    max-height: 80vh;
                }

                .modal-body {
                    .content-block-detail-booking-inner {
                        margin-bottom: 0;

                        .booking-row {
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .container {
        .row {
            >.breadcrumb-wrapper {
                display: none;
            }
        }
    }

    .detail-head {
        .detail-badge {
            background: #06f;
            padding: .25rem .5rem;
            font-weight: 700;
            color: #fff;
            position: absolute;
            z-index: 400;
            top: 15px;
            left: 15px;
        }

        .detail-wrapper {
            .detail-details {
                padding: 1rem 0;

                .detail-additional {
                    background: #06f;
                    color: #fff;
                    margin: -1rem -15px 0 -15px;
                    padding: .4rem 30px;
                    display: flex;
                    justify-content: space-between;
                }

                .breadcrumb-wrapper {
                    .container {
                        padding: 0;
                    }
                }

                .detail-heading {
                    display: flex;
                    justify-content: space-between;

                    h1 {
                        font-size: 2rem;
                        margin-bottom: .25rem;
                        padding-right: .5rem;
                        line-height: 1;
                    }

                    .add-to-wishlist {
                        cursor: pointer;
                        display: flex;
                        align-items: center;

                        &.active {
                            svg {
                                fill: #06f;
                            }
                        }

                        svg {
                            &.active {
                                fill: #06f;
                            }

                            .wishlist-heart {
                                pointer-events: none;
                            }
                        }
                    }
                }


                .subline {
                    font-size: 1.2rem;
                    line-height: 1.3;
                }

                .detail-services-mobile {
                    ul {
                        list-style-type: none;
                        line-height: 1.3;
                        padding: 0;
                        margin: 0;

                        li {
                            position: relative;
                            padding-left: 2rem;
                            margin: .5rem 0;

                            &:before {
                                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-check' width='25' height='25' viewBox='0 0 24 24' stroke-width='2.2' stroke='%2327ae60' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M5 12l5 5l10 -10' /%3E%3C/svg%3E");
                                position: absolute;
                                left: 0;
                                top: 0;
                            }
                        }
                    }
                }

            }
        }
    }

    .detail-services-desktop,
    .detail-usps,
    .detail-services {
        display: flex;
        align-items: center;
        padding: .5rem 0 0 0;
        font-size: .8rem;

        @include media-breakpoint-up(xl) {
            font-size: .9rem;
        }

        ul {
            list-style-type: none;
            line-height: 1.2;
            padding: 0;
            margin: 0;

            @include media-breakpoint-up(xl) {
                line-height: 1.4;
            }

            li {
                position: relative;
                padding-left: 2rem;
                margin: .5rem 0;

                &:before {
                    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-check' width='25' height='25' viewBox='0 0 24 24' stroke-width='2.2' stroke='%2327ae60' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M5 12l5 5l10 -10' /%3E%3C/svg%3E");
                    position: absolute;
                    left: 0;
                    top: -.2rem;
                }
            }
        }
    }

    .detail-sidebar {
        height: 100%;

        .detail-services {
            margin: 2rem 0;
            flex-direction: column;
            align-items: flex-start;

            ul {
                li {
                    font-size: 1rem;
                }
            }
        }
    }

    .detail-usps {
        font-size: 1rem;
        margin: .5rem 0;
        padding: 0;
    }

    .detail-services-desktop,
    .detail-info-head {
        display: none;
    }

    .detail-info {
        display: flex;
        flex-direction: column;

        .price-box {
            flex: 1;
        }

        .detail-services-desktop {
            flex: auto;
        }
    }

    .detail-gallerythumb {
        display: none;
    }

    @include media-breakpoint-up(lg) {

        padding: 0;

        .container {
            .row {
                >.breadcrumb-wrapper {
                    display: block;
                    width: 100%;
                }
            }
        }

        .detail-head {
            position: relative;

            .detail-wrapper {
                position: absolute;
                bottom: 15px;
                left: 15px;
                right: 15px;
                z-index: 400;
                display: flex;
                justify-content: space-between;

                .detail-gallerythumb {
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                    background-size: cover;
                    background-position: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    max-width: 105px;
                    width: 25%;
                    max-height: 105px;
                    border: 3px solid #fff;
                    cursor: pointer;

                    .detail-gallerythumb-count {
                        position: relative;
                        z-index: 300;
                        font-size: 1.5rem;
                        font-weight: 700;
                        color: #fff;
                        text-shadow: 0 0 10px rgba(0,0,0,.5);
                    }

                    &:after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 0, 0, .15);
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        z-index: 250;
                    }
                }

                .detail-details {
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                    position: relative;
                    background: rgba(255, 255, 255, .85);
                    padding: 1rem 3.5rem 1rem 1rem;
                    width: auto;
                    max-width: 60%;


                    .detail-additional {
                        background: transparent;
                        color: #000;
                        position: static;
                        padding: 0;
                        margin: 0;

                        small.code {
                            display: none;
                        }
                    }

                    .breadcrumb-wrapper {
                        display: none;
                    }

                    .detail-heading {

                        .add-to-wishlist {
                            position: absolute;
                            top: 1rem;
                            right: 1rem;
                        }
                    }

                    .subline {
                        font-size: .9rem;
                        margin-bottom: 0;
                    }

                    .detail-services-mobile {
                        display: none;
                    }
                }
            }
        }

        .detail-info-head {
            padding: 1rem 1rem 1rem 1rem;
            background-color: #e9ecef;
            display: block;
            border-bottom: 1px solid #bbb;

            .detail-services-desktop {
                display: flex;
            }

            h2 {
                line-height: 1;
                margin-bottom: .5rem;
            }

            p {
                margin-bottom: 0;
            }

            p {
                font-size: .9rem;
            }
        }

        .detail-sidebar {
            .detail-services {
                margin: 1rem 0;
            }
        }
    }
}