.content-block-list-header {
	display: flex;
	justify-content: space-between;
	&:after {
		display: none;
	}
	.list-header-title {
		p {
			margin: 0;
		}
		font-size: 1.3rem;
		display: flex;
		align-items: flex-start;
	}
	.pm-switch-result-view {
		display: flex;
		align-items: center;
		.pm-switch {
			position: relative;
			display: inline-block;
			width: 60px;
			height: 34px;
			margin: 0;
			.pm-switch-checkbox {
				opacity: 0;
				width: 0;
				height: 0;
				&:checked {
					+ .pm-switch-slider {
						background-color: #007bff;
						&:before {
							-webkit-transform: translateX(26px);
							-ms-transform: translateX(26px);
							transform: translateX(26px);
						}
					}
				}
			}
			.pm-switch-slider {
				position: absolute;
				cursor: pointer;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #aaa;
				-webkit-transition: 0.4s;
				transition: 0.4s;
				border-radius: 34px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0 0.45rem;
				&:before {
					position: absolute;
					content: "";
					height: 26px;
					width: 26px;
					left: 4px;
					bottom: 4px;
					background-color: white;
					-webkit-transition: 0.4s;
					transition: 0.4s;
					border-radius: 50%;
				}
			}
		}
	}
	@media only screen and (min-width: 430px) {
		.list-header-title {
			font-size: 2rem;
		}
	}
}
