body {
    // affix header compensation
    margin-top: 70px;
    @include media-breakpoint-up(md) {
        margin-top: 80px;
    }
    @include media-breakpoint-up(lg) {
        margin-top: 90px;
    }
    @include media-breakpoint-up(xl) {
        margin-top: 100px;
    }
}